<div class="main">
  <h1>Minima (todo) list</h1>
  <label for="addItemInput"></label>

  <input
    #newItem
    (keyup.enter)="addStorage(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput"
    placeholder="What's new to do?"
  />

  <button class="btn-primary" (click)="addStorage(newItem.value)">Add</button>

  <ul>
    <li *ngFor="let item of items; let i = index" (click)="changeState(item)">
      {{ item.task }}
      <button class="hide">editar</button>
      <button class="hide" (click)="deleteStorage(item)">deletar</button>
    </li>
  </ul>
</div>
