

<div class="main">
  <input
    #newItem
    class="lg-text-input"
    type="text"
    placeholder="What's new to do?"
    (keyup.enter)="addStorage(newItem.value); newItem.value = ''"
  />

  <ul>
      <li *ngFor="let item of items; let i = index" (click)="changeState(item)" [className]="item.done ? 'done' : 'undone'" >
        {{ item.task }}
      </li>
  </ul>

  <button class="helpBtn" (click)="helpToggle()" [className]="help ? 'btnPressed' : ''" >need help?</button>

</div>

<ng-container *ngIf="help">
  <div class="helpGuide">
   <ul class="helpGuideUl">
    <li>this is a to-do list app using angular and localStorage
  </li>
    <li>type a task and hit enter to add</li>
    <li>click the task to mark as done</li>
    <li>click again to delete it</li>
   </ul>

  </div>
</ng-container>
